.side-section {
    display: flex;
    flex-direction: column;
    background-color: #03071e;
    color: white;
    min-width: 100vw;
}

.title-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    padding-bottom: 0px;
}

.options {
    display: flex;
    padding-bottom: 15px;
    padding-left: 15px;
    max-width: 100%;
    justify-content: left;
    gap: 5%;
}

.logout {
    cursor: pointer;
}

.logo{
    width: 150px;
    height: 100px;
    cursor: pointer;
}
