.side-section {
    display: flex;
    flex-direction: column;
    background-color: #03071e;
    color: white;
    min-width: 100vw;
}

.title-navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-bottom: 0px;
}

.options {
    display: flex;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 100%;
    justify-content: space-between;
}

.logout {
    cursor: pointer;
}

.logo{
    width: 200px;
    height: 150px;
    cursor: pointer;
}

.tabs{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    gap: 15%;
    padding-left: 15px;
}