.side-section {
    display: flex;
    flex-direction: column;
    background-color: #1A1F2B ;
    color: white;
    width: 100%;
    max-width: 100vw;
}

.title-navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-bottom: 0px;
}

.options {
    display: flex;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 100%;
    justify-content: space-between;
}

.logout {
    cursor: pointer;
}

.logo{
    width: 200px;
    height: 150px;
    cursor: pointer;
}

.tabs{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    gap: 15%;
    padding-left: 15px;
}

.user{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.reportes {
    position: relative;
}

.dropdown-content {
    display: block; /* Show by default for testing */
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content .MuiTypography-root {
    padding: 12px 16px;
    color: black;
    text-decoration: none;
    display: block;
}

.dropdown-content .MuiTypography-root:hover {
    background-color: #f1f1f1;
}